

.green{
  background: var(--p-primary-color);
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  
}

.pulse {
  animation: pulse-animation 2s infinite;
}

 @keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px var(--pulse-shadow-color);
  }
  100% {
    box-shadow: 0 0 0 0.75rem rgba(0, 0, 0, 0);
  }
} 
