
<div class="w-full h-full flex flex-col gap-1 ">
    <div class="w-full flex-col  px-[1rem] flex gap-4 overflow-y-auto">

        <div id="mandatory" class="flex w-full">
            <div class="w-full flex flex-col items-start gap-4">
                <h2 class="  text-2xl font-medium justify-start items-center flex w-full">Mandatory Fields</h2>
                <div class="w-full flex flex-wrap gap-x-[4rem] gap-y-[1rem] justify-start px-8">
                        <div class="flex flex-col items-start  gap-2">
                            <label for="username" class="font-medium">Username</label>
                            <input pInputText id="username"  [(ngModel)]="userEnrollment.username"/>
                        </div>

                        <div class="flex flex-col items-start  gap-2">
                            <label for="password" class="font-medium">Password</label>
                            <input pInputText id="password"  [(ngModel)]="userEnrollment.password"/>
                        </div>

                        <div class="flex flex-col items-start  gap-2">
                            <label class="font-medium">Role</label>
                            <p-selectButton
                                [options]="roles"
                                [(ngModel)]="userEnrollment.userRole"
                                optionLabel="name"
                                optionValue="key"
                                [ngStyle]="{ 'background-color': getRoleSeverity(userEnrollment.userRole) }"
                            ></p-selectButton>

                        </div>
                          
                        
                </div>
            </div>
        </div>

         <div id="optoinal" class="flex w-full ">
            <div class="w-full  flex flex-col items-start gap-4">
                <h2 class="  text-2xl font-medium justify-start items-center flex w-full">Optional Fields</h2>
                <div class="flex flex-wrap gap-x-[4rem] gap-y-[1rem] justify-start px-8">
                        <div class="flex flex-col items-start  gap-2">
                            <label for="firstName" class="font-medium w-[6rem]">First Name</label>
                            <input pInputText id="firstName"  [(ngModel)]="userEnrollment.firstName"/>
                        </div>

                       <div class="flex flex-col items-start  gap-2">
                            <label for="lastName" class="font-medium">Last Name</label>
                            <input pInputText id="lastName"  [(ngModel)]="userEnrollment.lastName"/>
                        </div>

                        <div class="flex flex-col items-start  gap-2">
                            <label for="email" class="font-medium">Email</label>
                            <input pInputText id="email"   [(ngModel)]="userEnrollment.email"/>
                        </div>

                        <div class="flex flex-col items-start  gap-2">
                            <label for="companyName" class="font-medium">Company</label>
                            <p-select id="companyName" 
                              [(ngModel)]="userEnrollment.companyName"
                              appendTo="body"
                              [options]="companies" 
                              [filter]="true"
                              placeholder="Select a Company"
                              [virtualScroll]="true"
                              [loading]="loadingCompanies"
                              [showClear]="true"    
                            >
                    </p-select>

                        </div>
                        
                </div>
            </div>
        </div> 

        <div class="w-full flex items-center justify-center mt-4">
        <p-button label="Enroll User" icon="pi pi-user-plus" variant="text" (onClick)="enrollUser()" />
        </div>

    </div>
    
</div>


