
:host {
  height: 100%;
  width: 100%;

}

h2      { margin:0 0 .5rem; font:600 1.1rem/1 system-ui; }

.list   {
  min-height:12rem; padding:.5rem;
  background:#f3f4f6; border-radius:.5rem;
  display:flex; flex-direction:column; gap:.5rem;
}

