
<div class="flex w-full h-full justify-center ">
  <div class="w-1/2 h-full justify-center items-center flex flex-col gap-2">
    <p class="text-3xl font-medium ">Pending candidates</p>
    <div class="flex px-4 w-full h-full">
    <div
      cdkDropList
      id="src"
      #src="cdkDropList"
      [cdkDropListData]="sourceEntries"
      [cdkDropListConnectedTo]="[tgt]"
      class="border-custom h-full w-full gap-2 flex flex-col p-2"
      (cdkDropListDropped)="drop($event)"
      >
      
      @for (e of sourceEntries; track e.id) {
        <app-round-entry-card 
        [entry]="e" 
        (updated)="loadRound(publicId)"
        ></app-round-entry-card>
      }
    </div>
    </div>
    
  </div>


  <div class="w-1/2 h-full justify-center items-center flex flex-col gap-2">
    <p class="text-3xl font-medium ">Selected Candidates</p>
    <div class="flex px-4 w-full h-full">
      <div
      cdkDropList
      id="tgt"
      #tgt="cdkDropList"
      [cdkDropListData]="targetEntries"
      [cdkDropListConnectedTo]="[src]"
      class="border-custom h-full w-full gap-2 flex flex-col p-2"
      (cdkDropListDropped)="drop($event)">

      @for (e of targetEntries; track e.id) {
        <app-round-entry-card [entry]="e" ></app-round-entry-card>
      }
    </div>
    </div>
    
  </div>
</div>

  