<div class=" h-full w-full ">
  <div #wrapper class=" h-full">
    <p-table #dtCVs 
        *ngIf="this.scrollHeight !=='0px'"
        [value]="cvs"
        [scrollable]="true"
        [scrollHeight]="scrollHeight"
        dataKey="publicId"
        [rows]="16"
        class="w-full h-full"
        [globalFilterFields]="['fileName','uploadMethod']"
        [sortOrder]="-1"
        [(selection)]="selectedCVs"
        [virtualScroll]="true" [virtualScrollItemSize]="65"
        >

        <ng-template #caption>

          <div class="flex justify-between items-center w-full">
            <p-iconfield iconPosition="left">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" [(ngModel)]="globalFilter" (input)="filterGlobal()" placeholder="Search document..." />
            </p-iconfield>

            <div>
                
              <p-button 
                  icon="pi pi-trash" 
                  [rounded]="true" 
                  [text]="true" 
                  severity="danger" 
                  [disabled]="!selectedCVs || selectedCVs.length === 0"
                  (click)="openDeleteDialog()"
                  size="large"
              />

            </div>
          </div>
        </ng-template>

        <!-- header -->
        <ng-template #header>
          <tr>
            <th class="w-[5%]"><p-tableHeaderCheckbox /></th>
            <th class="w-[25%]">File Name</th>
            <th class="w-[25%]">
                Uploaded At
                <p-columnFilter type="date" field="uploadedAt" display="menu"   />
            </th>
            <th class="w-[20%]">Upload Method</th>
            <th pSortableColumn="score" class="w-[15%]">
                Score <p-sortIcon field="score" class=" p-button  p-button-icon-only p-button-secondary p-button-rounded p-button-text" />
            </th>
            <th class="w-[10%]">Evaluation</th>
          </tr>
        </ng-template>
      
        <!-- body -->
        <ng-template #body let-cv>
          <tr >
            <td><p-tableCheckbox [value]="cv" /></td>
            <td>{{ cv.fileName }}</td>
            <td>{{ cv.uploadedAt | date:'dd/MM/yyyy' }}</td>
           
            <td> <p-tag    [severity]="
      (cv.uploadMethod?.trim().toLowerCase() === 'gmail' ||
       cv.uploadMethod?.trim().toLowerCase() === 'outlook')
       ? 'success'
       : (cv.uploadMethod?.trim().toLowerCase() === 'Manual' ? 'info' : 'secondary')"  
    value="{{ cv.uploadMethod ?? 'Unknown' }}" /></td>
            <td>{{ cv.score ?? 0 }}</td>
            <td>
                <p-button 
                icon="pi pi-window-maximize" 
                [rounded]="true" 
                [text]="true" 
                
                (click)="openEvaluationDialog(cv)"
            />
            </td>
          </tr>
        </ng-template>
      
        <!-- empty state -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">No CVs found.</td>
          </tr>
        </ng-template>
    </p-table>
  </div>
</div>










<p-dialog 
    header="Evaluation Result"
    [modal]="true" 
    [(visible)]="viewCvEvaluation"
    styleClass=" shadow-9 w-dialog-lg h-dialog-lg border-none"
    (onHide)="onDialogHide()" 

  >
  <app-cv-evaluation *ngIf="evaluatedCv" [cv]="evaluatedCv" (onHide)="onDialogHide()"></app-cv-evaluation>
 

</p-dialog>




<p-dialog 
    [modal]="true" 
    [(visible)]="viewDeleteDialog"
    styleClass=" shadow-9 w-dialog-m h-dialog-xs border-none"
    (onHide)="onDialogHide()" 
    header="Delete Selected Documents"

   >
  <div class="h-full w-full flex flex-col">
    <div class=" h-2/3 flex flex-col gap-3 px-4 justify-center">
      <p>Are you sure you want to delete the document(s) ?</p>
    </div>
      
    <div class="h-1/3 flex justify-end items-center gap-3 ">
        @if(loading){
          <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration="0.5s" [style]="{ width: '3vh', height: '3vh' }" />
        }
        <p-button label="Cancel" (click)="onDialogHide()" severity="secondary"></p-button>
        <p-button label="Delete" (click)="deleteSelected()" severity="danger" [disabled]="loading"></p-button>
      </div>
  </div>
   

</p-dialog>

