
<nav 
    class="flex justify-between items-center w-full h-[var(--nav-height)] px-[var(--nav-px)] " 
    [ngClass]="{'absolute z-0': isLogin()}"
>
    <a aria-label="CVexplorer Logo" href="/dashboard" class="w-[var(--nav-logo-width)]">
        <img [src]="logoPath" alt="Logo" class="w-full h-full"/>
    </a>
    


    @if(!isLoginRoute){


        <div class="flex gap-[var(--nav-items-gap)]">
            <p-button
            label="{{ username() }}"
            [size]="isLargeScreen() ? 'large' : 'small'"
            variant="text"
            styleClass="text-[var(--p-primary-color)]"
            (onClick)="openAccountDetailsDialog()"
            ></p-button>

            <p-button
                *appHasRole="['HRLeader']"
                label="Manage Users"
                icon="pi pi-building"
                variant="outlined"
                [size]="isLargeScreen() ? 'large' : 'small'"
                (onClick)="openManageUsersDialog()"
            ></p-button>

            <p-button
                *appHasRole="['HRLeader']"
                label="Enroll a User"
                icon="pi pi-user-plus"
                variant="outlined"
                [size]="isLargeScreen() ? 'large' : 'small'"
                (onClick)="openEnrollUserDialog()"
            ></p-button>
            <p-button
                [icon]="'pi ' + (isDarkMode ? 'pi-sun' : 'pi-moon')"
                variant="outlined"
                [size]="isLargeScreen() ? 'large' : 'small'"
                (onClick)="toggleTheme()"/>
            <p-button
                label="Sign Out"
                [size]="isLargeScreen() ? 'large' : 'small'"
                severity="danger"
                icon="pi pi-sign-out"
                variant="outlined"
                (onClick)="signOut()"
            ></p-button>

        
        </div>
        

    }
    
    
    
</nav>




<p-dialog header="Enroll a New User" 
    [(visible)]="visibleEnrollUser" [modal]="true" 
    styleClass=" shadow-9 h-dialog-sm w-dialog-sm  border-none"
    (onHide)="closeEnrollUserDialog()"
>
  
    <app-nav-enroll-user (userEnrolled)="closeEnrollUserDialog()"></app-nav-enroll-user>
    
</p-dialog>



<p-dialog header="Account Details" 
    [modal]="true"
    [(visible)]="visibleDetails" 
    styleClass=" shadow-9 w-dialog-sm h-dialog-sm border-none"
    (onHide)="closeAccountDetailsDialog()"
>     
    <app-nav-user-details></app-nav-user-details>
</p-dialog>


<p-dialog header="Manage Users" 
    [(visible)]="visibleManageUsers" [modal]="true" 
    styleClass=" shadow-9 w-dialog-lg h-dialog-lg border-none"
    (onHide)="closeManageUsersDialog()"
>
    <app-nav-manage-users></app-nav-manage-users>
   
</p-dialog>