@import "bootstrap/dist/css/bootstrap.min.css";

.navbar {
    display: flex; /* Makes the navbar a flex container */
    justify-content: space-between; /* Pushes items to the edges */
    align-items: center; /* Vertically centers items */
    padding: 0vh var(--width-padding-site); /* Add spacing inside the navbar */
    vertical-align: middle;
    height: var(--navbar-height);
  }
  
.navbar-login{
  position: absolute;
  z-index: 0;
}


:host ::ng-deep .nav-username-dark{
    color: white;
    font-size: 1.1rem;

}
:host ::ng-deep .nav-username-light{
  color: white;
  font-size: 1.1rem;

}

.logo-container {
    width: 10vw; /* Increase the parent container's width */
  }
.logo-container img {
    width: 100%; /* Make the logo fit the container */
    height: 100%; /* Maintain aspect ratio */
}

.topbar-items {
    
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1vw;
    align-items: center;
}



.content{
  display: block;
  margin-block: 5vh ;
  margin-inline: 1vw;
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input, p-multiselect {
    width: 60%;
  }
}

input{
  text-align: center;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end; /* ✅ Aligns buttons to the right */
  align-items: center; /* ✅ Ensures vertical alignment */
  gap: 1rem; /* ✅ Adds spacing between elements */
  
}

.grey-text {
  color: grey;
  font-style: italic;
  opacity: 0.7;
}
