
<div #vantaBackground id="vanta-background" class="absolute z-[-1] w-full h-full"></div>
<div class="flex w-full h-full">
  
    <div class="flex w-1/2  justify-center items-center mt-[var(--nav-height)] h-[var(--login-height)]">
        
        <div class="
            w-[var(--login-card-width)]
            h-[var(--login-card-height)]
            bg-transparent-2
            border-round-3xl
            
            grid grid-rows-4
            items-center justify-items-center
            max-w-[25rem] max-h-[25rem]
            min-w-[20rem] min-h-[25rem]"
            >
            
            <div class="row-span-1 flex items-center justify-center">
                <h3 class="text-4xl font-medium">
                    Member Login
                </h3>
            </div>
            
            

            <form (ngSubmit)="login()"  class="row-span-3 w-full h-full grid grid-rows-3 gap-4">
                <div class="flex flex-col items-start gap-2 w-4/5 mx-auto">
                    <label for="username"  class="self-start text-lg font-medium ">Username</label>
                    <input type="text" pInputText id="username" autocomplete="username"
                            [(ngModel)]="model.username" name="username" required 
                            class="w-full" />
                </div>
    
                <div class="flex flex-col items-start gap-2 w-4/5 mx-auto">
                    <label for="password"  class="self-start text-lg  font-medium ">Password</label>      
                    <p-password [feedback]="false" id="password" [toggleMask]="true" autocomplete="current-password"
                                [(ngModel)]="model.password" name="password" required
                                fluid="true"
                                class="w-full"
                                styleClass="w-full"
                                inputStyleClass="w-full"/>
                </div>
                
                <div class="flex flex-col justify-center  mx-auto login-button">
                    <p-button label="Log In" size="small" type="submit"  />
                </div>
                
            </form>
            
        </div>

        
    </div>
</div>



