
<nav class="navbar" [ngClass]="{'navbar-login': isLogin()}">
    <a aria-label="CVexplorer Logo" href="/dashboard" class="logo-container">
        <img [src]="logoPath" alt="Logo" width="10%"/>
    </a>

    @if(!isLoginRoute){
        <ul class="topbar-items">
            <li class="nav-item ">
                <p-button label="{{username}}" variant="text" styleClass="nav-username" (onClick)="showDetails()" />
            </li>
            <li>
                <p-button label="{{ buttonText }}" [size]="'small'"  icon="{{iconClass}}" class="topbar-item" [style]="{ 'width':'7.8rem'}"    [outlined]="true" (click)="toggleTheme()"/>
            </li>
            <li>
                <p-button label="Sign Out" [size]="'small'" severity="danger" icon="pi pi-sign-out"  [outlined]="true" (onClick)="signOut()"/>
            </li>
        </ul>
    }
    
    
    
</nav>


<p-dialog header="Account Details" 
[modal]="true" [(visible)]="visibleDetails" 
[style]="{ width: '25rem' , border: 'None' }"
(onHide)="cancelEdit()"
> 

    <div class="content">
        <div class="field">
            <label for="companyName" class="font-semibold w-24">Company</label>
            <input pInputText id="companyName" [(ngModel)]="userDetails.companyName" [readOnly]="true" variant="filled" autocomplete="off" />
        </div>
        <div class="field">
            <label for="firstName" class="font-semibold w-24">First Name</label>
            <input pInputText id="firstName" 
            [(ngModel)]="userDetails.firstName" 
            [readOnly]="!isEditing" 
            autocomplete="off"
            [variant]="!isEditing ? 'filled' : 'outlined'" 
            />
        </div>
        <div class="field">
            <label for="lastName" class="font-semibold w-24">Last Name</label>
            <input pInputText id="lastName" 
            [(ngModel)]="userDetails.lastName" 
            [variant]="!isEditing ? 'filled' : 'outlined'"  
            [readOnly]="!isEditing"
            autocomplete="off" />
        </div>
        <div class="field">
            <label for="email" class="font-semibold w-24">Email</label>
            <input pInputText id="email"
            [(ngModel)]="userDetails.email" 
            [variant]="!isEditing ? 'filled' : 'outlined'" 
            [readOnly]="!isEditing" 
            autocomplete="off" />
        </div>
    </div>
    
    <div class="flex justify-end gap-2 w-full">
        
        @if(isEditing){
            <p-button class="ml-auto" label="Cancel" severity="secondary" (click)="cancelEdit()" />
            <p-button label="Save" (click)="visibleDetails = false" />
        }
        @else {
            <p-button class="ml-auto" label="Edit" severity="secondary" (click)="editFields()" />
        }
        

    </div>
</p-dialog>


