
<nav class="navbar" [ngClass]="{'navbar-login': isLogin()}">
    <a aria-label="CVexplorer Logo" href="/dashboard" class="logo-container">
        <img [src]="logoPath" alt="Logo" width="10%"/>
    </a>

    @if(!isLoginRoute){
        <ul class="topbar-items">
            <li class="nav-item ">
                <p-button label="{{username()}}" [size]="isLargeScreen() ? 'large' : 'small'"  [variant]="'text'" [styleClass]="isDarkMode ? 'nav-username-dark' : 'nav-username-light'"  (onClick)="showDetails()" />
            </li>
            <li *appHasRole="['HRLeader']">
                <p-button label="Enroll a User" icon="pi pi-user-plus" 
                    variant="outlined" [size]="isLargeScreen() ? 'large' : 'small'" 
                    (onClick)="openEnrollUserDialog()"/>
            </li>
            <li>
                <p-button label="{{buttonText}}" [size]="isLargeScreen() ? 'large' : 'small'"   icon="{{iconClass}}" class="topbar-item" [style]="{'width': '6.5vw'}" [variant]="'outlined'"  (click)="toggleTheme()"/>
            </li>
            <li>
                <p-button label="Sign Out" [size]="isLargeScreen() ? 'large' : 'small'" severity="danger" icon="pi pi-sign-out"  [variant]="'outlined'"  (onClick)="signOut()"/>
            </li>
        </ul>
    }
    
    
    
</nav>




<p-dialog header="Account Details" 
[modal]="true" [(visible)]="visibleDetails" 
[style]="{ width: '25rem' , border: 'None' }"
(onHide)="cancelEdit()"
>     
    
    <div class="content">
        <div class="field">
            <label for="companyName" class="font-semibold w-24">Company</label>
            <input pInputText id="companyName" [(ngModel)]="userDetails.companyName" [readOnly]="true" variant="filled" autocomplete="off" />
        </div>
        <div class="field">
            <label for="firstName" class="font-semibold w-24">First Name</label>
            <input pInputText id="firstName" 
            [(ngModel)]="userDetails.firstName" 
            [readOnly]="!isEditing" 
            autocomplete="off"
            [variant]="!isEditing ? 'filled' : 'outlined'" 
            />
        </div>
        <div class="field">
            <label for="lastName" class="font-semibold w-24">Last Name</label>
            <input pInputText id="lastName" 
            [(ngModel)]="userDetails.lastName" 
            [variant]="!isEditing ? 'filled' : 'outlined'"  
            [readOnly]="!isEditing"
            autocomplete="off" />
            
        </div>
        <div class="field">
            <label for="email" class="font-semibold w-24">Email</label>
            <input pInputText id="email"
            [(ngModel)]="userDetails.email" 
            [variant]="!isEditing ? 'filled' : 'outlined'" 
            [readOnly]="!isEditing" 
            autocomplete="off" />
        </div>
    </div>
    
    <div class="dialog-actions">
         @if(loading){
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '3vh', height: '3vh' }" />
        }
        @if(isEditing){
            <p-button  label="Cancel" severity="secondary" (click)="cancelEdit()" />
            <p-button label="Save" (click)="updateDetails()" />
        }
        @else {
            <p-button  label="Edit" severity="secondary" (click)="editFields()" />  
        } 
    </div>
</p-dialog>


<!-- ✅ Enroll User Dialog -->
<p-dialog header="Enroll a New User" 
    [(visible)]="visibleEnrollUser" [modal]="true" 
    [style]="{ width: '30rem', border: 'None' }"
    (onHide)="closeEnrollUserDialog()"
>
    <div class="content">
        <div class="field">
            <label for="username" class="font-semibold w-24">Username</label>
            <input pInputText id="username" [(ngModel)]="userEnrollment.username" autocomplete="off"/>
        </div>
        
        <div class="field">
            <label for="password" class="font-semibold w-24">Password</label>
            <input pInputText id="password" [(ngModel)]="userEnrollment.password" type="password" autocomplete="off"/>
        </div>

        <div class="field">
            <label>Roles</label>
            <p-multiSelect 
                [options]="rolesOptions" 
                [(ngModel)]="userEnrollment.userRoles"
                appendTo="body"
                [filter]="false"
                [showToggleAll]="false"
                [style]="{'width':'100%'}"
                placeholder="Select roles">
            </p-multiSelect>
        </div>

    </div>

    <!-- ✅ Dialog Actions -->
    <div class="dialog-actions">
        @if(loading){
            <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '3vh', height: '3vh' }" />
        }
        <p-button label="Cancel" severity="secondary" (click)="closeEnrollUserDialog()" />
        <p-button label="Enroll" (click)="enrollUser()" />
    </div>
</p-dialog>