<div class=" flex flex-col h-full  w-full">
  <div class="p-datatable-header">
  <p-iconfield iconPosition="left">
    <p-inputicon>
        <i class="pi pi-search"></i>
    </p-inputicon>
    <input pInputText type="text"  placeholder="Search document..." />
  </p-iconfield>
  </div>

  
    <div *ngIf="rounds.length > 0; else noRounds" class="flex-1 overflow-y-auto justify-center flex flex-wrap gap-8 p-2">  
    
      @for(round of rounds; track round.publicId){
        <div class="w-1/4 h-2/5">
          <app-round-card [round]="round">
          </app-round-card>
        </div>
      }

    </div>
    <ng-template #noRounds>
      <p>No rounds available.</p>
    </ng-template>
  

</div>

