<div class=" flex flex-col h-full  w-full">
  <div class="p-datatable-header">
  <p-iconfield iconPosition="left">
    <p-inputicon>
        <i class="pi pi-search"></i>
    </p-inputicon>
    <input pInputText type="text"  placeholder="Search document..." />
  </p-iconfield>
  </div>

  
    <div *ngIf="rounds.length > 0; else noRounds" class="flex-1 overflow-y-auto  flex flex-wrap  gap-y-8 pt-2  justify-center gap-x-20">  
    
      @for(round of rounds; track round.publicId){
        <div class="w-[25rem] h-[8rem]">
          <app-round-card [round]="round">
          </app-round-card>

        </div>
      }

    </div>
    <ng-template #noRounds>
      <p>No rounds available.</p>
    </ng-template>
  

</div>

