
<div class="content">
    <div class="field">
        <label for="companyName" class="font-semibold w-24">Company</label>
        <input pInputText id="companyName" [(ngModel)]="userDetails.companyName" [readOnly]="true" variant="filled" autocomplete="off" />
    </div>
    <div class="field">
        <label for="firstName" class="font-semibold w-24">First Name</label>
        <input pInputText id="firstName" 
        [(ngModel)]="userDetails.firstName" 
        [readOnly]="!isEditing" 
        autocomplete="off"
        [variant]="!isEditing ? 'filled' : 'outlined'" 
        />
    </div>
    <div class="field">
        <label for="lastName" class="font-semibold w-24">Last Name</label>
        <input pInputText id="lastName" 
        [(ngModel)]="userDetails.lastName" 
        [variant]="!isEditing ? 'filled' : 'outlined'"  
        [readOnly]="!isEditing"
        autocomplete="off" />
        
    </div>
    <div class="field">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email"
        [(ngModel)]="userDetails.email" 
        [variant]="!isEditing ? 'filled' : 'outlined'" 
        [readOnly]="!isEditing" 
        autocomplete="off" />
    </div>
</div>

<div class="dialog-actions">
    @if(loading){
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '3vh', height: '3vh' }" />
    }
    @if(isEditing){
        <p-button  label="Cancel" severity="secondary" (click)="cancelEdit()" />
        <p-button label="Save" (click)="updateDetails()" />
    }
    @else {
        <p-button  label="Edit" severity="secondary" (click)="editFields()" />  
    } 
</div>
