
<div class=" h-[5rem] rounded-3xl flex items-center px-2 gap-2 bg-[var(--p-content-background)]" cdkDrag>
    <div  class="flex justify-center">
        <p-avatar icon="pi pi-user" size="large" shape="circle" />
    </div>
    <div class="w-3/6 flex justify-start">
        <strong  >{{ entry.candidateName }}</strong>
    </div>
    <div class="flex flex-col w-1/6 justify-center items-center">
        <p class="text-sm font-medium">Score</p>
        <span > {{ entry.score }}</span>
    </div>  
  
</div>

