
<p-table #dtUsers 
[value]="users" 
[scrollable]="true"
[scrollHeight]="'flex'"  
dataKey="id"  
editMode="row" 
class="w-full flex flex-col h-full"
[globalFilterFields]="['username', 'firstName', 'lastName', 'email', 'userRole']"
>
<ng-template #caption>
    <p-iconfield iconPosition="left">
        <p-inputicon>
            <i class="pi pi-search"></i>
        </p-inputicon>
        <input pInputText type="text" [(ngModel)]="globalFilter" (input)="filterGlobal()" placeholder="Search users..." />
    </p-iconfield>
</ng-template>

<ng-template #header>

    <tr>
        <th class="w-[15%]">Username</th>
        <th class="w-[15%]">First Name</th>
        <th class="w-[15%]">Last Name</th>
        <th class="w-[20%]">Email</th>
        <th class="w-[15%]">Role</th>
        <th class="w-[10%]"></th>
        <th class="w-[10%]"></th>
    </tr>
    
</ng-template>

<ng-template #body let-user let-editing="editing">
    
    <tr class="h-20" [pEditableRow]="user">
    <td>{{ user.username }}</td>
    <td >
        <p-cellEditor >
            <ng-template pTemplate="input">
                <input pInputText type="text"  [(ngModel)]="user.firstName" required  class="w-5/6"/>
            </ng-template>
            <ng-template pTemplate="output">
                <span [ngClass]="{'grey-text': !user.firstName}">{{ user.firstName || 'Not Available' }}</span>
            </ng-template>
        </p-cellEditor>
    </td>
    <td >
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="text"  [(ngModel)]="user.lastName" required  class="w-5/6"/>
            </ng-template>
            <ng-template pTemplate="output">
                <span [ngClass]="{'grey-text': !user.lastName}">{{ user.lastName || 'Not Available' }}</span>
            </ng-template>
        </p-cellEditor>
    </td>
    <td>
        <p-cellEditor>
            <ng-template pTemplate="input">
                <input pInputText type="email"  [(ngModel)]="user.email" required />
            </ng-template>
            <ng-template pTemplate="output">
                <span [ngClass]="{'grey-text': !user.email}">{{ user.email || 'Not Available' }}</span>
            </ng-template>
        </p-cellEditor>
    </td>
    <td >
        <p-cellEditor >
            <ng-template pTemplate="input" >
                <p-select 
                    [options]="roles" 
                    [(ngModel)]="user.userRole"
                    appendTo="body"
                    
                    placeholder="Select roles">
                    <ng-template let-role pTemplate="item">
                        <p-tag [severity]="getRoleSeverity(role)">{{ role }}</p-tag>
                    </ng-template>
                </p-select>
            </ng-template>
            <ng-template pTemplate="output">
                <div class="flex flex-wrap gap-1">
                    <p-tag [severity]="getRoleSeverity(user.userRole)">{{ user.userRole }}</p-tag>
                </div>
            </ng-template>
        </p-cellEditor>
    </td>
    <td >
        <div class="flex items-center justify-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                icon="pi pi-pencil" (click)="onRowEditInit(user)" text rounded severity="secondary"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                icon="pi pi-check" (click)="onRowEditSave(user)" text rounded severity="secondary"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                icon="pi pi-times" (click)="onRowEditCancel(user)" text rounded severity="secondary"></button>
        </div>
    </td>
    <td >
        <div class="flex items-center justify-center gap-2">
        <button *ngIf="!deletingUsers[user.id]" pButton pRipple type="button" 
            icon="pi pi-trash" (click)="onRowDeleteInit(user.id)" text rounded severity="danger">
        </button>

        <ng-container *ngIf="deletingUsers[user.id]">
            <button pButton pRipple type="button" pSaveEditableRow 
                icon="pi pi-check" (click)="onRowDeleteConfirm(user.id, user.username)" 
                text rounded severity="secondary">
            </button>
            <button pButton pRipple type="button" pCancelEditableRow 
                icon="pi pi-times" (click)="onRowDeleteCancel(user.id)" 
                text rounded severity="secondary">
            </button>
        </ng-container>
        </div>
    </td>
    
    </tr>
    
</ng-template>

</p-table>

