<p-toast position="top-center"></p-toast> <!--Ensures notifications are visible -->
<app-nav></app-nav>

@if(isUserLoggedIn()) {
    <div id="homeContainer">
    

        <p-splitter [panelSizes]="[20, 80]" 
        [minSizes]="[20,80]" 
        [gutterSize]="0"
        [style]="{
                'border': 'none',          
                'borderRadius': 'var(--card-border-radius)'
        }"
        >
    
            <ng-template #panel *appHasRole="['HRUser','HRLeader']" >
                <div class="left-menu-container">
                    <app-left-menu></app-left-menu>
                </div>  
            </ng-template>
    
            <ng-template #panel>
                <div class="component-container">
                    <p-tabs [value]="currentTab()">
                        <p-tablist> 
                            @for(tab of tabs(); track tab.route){
                                
                                <p-tab  [value]="tab.route"
                                    [routerLink]="tab.route"
                                    [disabled]="tab.disabled"
                                 >
                                    <i [class]="tab.icon"></i>
                                    <span>{{ tab.label }}</span>
                                </p-tab>
                            }
                        </p-tablist>
                    </p-tabs>
                    
                    <p-tabpanels>
                        <router-outlet></router-outlet>  
                    </p-tabpanels> 
                </div>
            </ng-template>
    
        </p-splitter>
    
        
    </div>
}
@else {
    <router-outlet ></router-outlet>
}

<div class="footer" [ngClass]="{'dashboard-footer': isDashboard()}">
    <p>© 2025  CVexplorer. All rights reserved.</p>
</div>


    
    









