<p-toast position="top-center"></p-toast> 
<app-nav ></app-nav>


@if(isUserLoggedIn()) {
    <div  class=" h-[var(--home-container-height)] px-[var(--home-container-padding-x)] py-[var(--home-container-padding-y)] flex justify-center items-center w-full">
    
        <div id="main-panel" class="w-full h-full min-h-[30rem]  flex py-[var(--main-panel-padding-y)]  px-[var(--main-panel-padding-x)]  bg-[var(--p-primary-contrast-color)] border-round-3xl shadow-9 ">
            <div id="left-panel" class="w-1/3  h-full  py-[var(--left-panel-padding-y)]  px-[var(--left-panel-padding-x)] overflow-hidden" *appHasRole="['HRUser','HRLeader'] ">
                 <app-left-menu></app-left-menu>
            </div>

            <div id="right-panel" class="w-2/3  h-full  py-[var(--right-panel-padding-y)] px-[var(--right-panel-padding-x)] " [class.w-full]="isAdmin()">
                <div class="w-full h-full flex flex-col overflow-hidden">
                    
                    <p-tabs [value]="currentTab()">
                        <p-tablist > 
                            @for(tab of tabs(); track tab.route){
                                
                                <p-tab  [value]="tab.route"
                                    [routerLink]="tab.route"
                                    [disabled]="tab.disabled"
                                    [queryParams]="tab.queryParams"
                                >
                                    <i [class]="tab.icon"></i>
                                    <span>{{ tab.label }}</span>
                                </p-tab>
                            }
                        </p-tablist>
                    </p-tabs>
                    
                    <div class="flex overflow-hidden w-full h-full ">
                        <p-tabpanels class="w-full h-full p-[1rem] flex1 ">
                            <router-outlet></router-outlet>  
                        </p-tabpanels> 
                    </div>
                </div>

            </div>

        </div>

    </div>
}
@else {
    <router-outlet ></router-outlet>
}


<footer class="fixed bottom-0 w-full flex items-center justify-center text-center text-[var(--p-surface-400)] h-[var(--footer-height)] ">
© 2025  CVexplorer. All rights reserved.
</footer>


    









