<p-toast position="top-center"></p-toast> <!--Ensures notifications are visible -->
<app-nav ></app-nav>


@if(isUserLoggedIn()) {
    <div  class="h-[var(--home-container-height)] px-[var(--home-container-padding-x)] py-[var(--home-container-padding-y)]  ">

       
        <p-splitter 
        [panelSizes]="[30, 70]" 
        [minSizes]="[30,70]" 
        [gutterSize]="0"
        [style]="{'border': 'none' }"
        styleClass="border-round-3xl shadow-9 w-full h-full py-[var(--home-card-padding-y)]  px-[var(--home-card-padding-x)] " 
        panelStyleClass="px-[var(--home-panel-padding-x)] "
        
        >
    
            <ng-template #panel *appHasRole="['HRUser','HRLeader']" >
                <div class="w-full h-fulll">
                    <app-left-menu></app-left-menu>
                </div>  
            </ng-template>
    
            <ng-template #panel>
                <div class="w-full h-full flex flex-col">
                    
                    <p-tabs [value]="currentTab()" class=" ">
                        <p-tablist > 
                            @for(tab of tabs(); track tab.route){
                                
                                <p-tab  [value]="tab.route"
                                    [routerLink]="tab.route"
                                    [disabled]="tab.disabled"
                                    [queryParams]="tab.queryParams"
                                >
                                    <i [class]="tab.icon"></i>
                                    <span>{{ tab.label }}</span>
                                </p-tab>
                            }
                        </p-tablist>
                    </p-tabs>
                    
                    <div class="flex overflow-hidden w-full h-full">
                        <p-tabpanels class="w-full h-full flex1">
                            <router-outlet></router-outlet>  
                        </p-tabpanels> 
                    </div>

                    
                    

                </div>
            </ng-template>
    
        </p-splitter>
        
    </div>
}
@else {
    <router-outlet ></router-outlet>
}


<footer class="fixed bottom-0 w-full flex items-center justify-center text-center text-[var(--p-surface-400)] h-[var(--footer-height)] ">
© 2025  CVexplorer. All rights reserved.
</footer>


    









