<div class="h-full w-full flex flex-col gap-4">

  <div class="h-1/2 border-custom w-full">
  <p-fileUpload
  #fu
  name="file"
  mode="advanced"
  [customUpload]="true"
  [auto]="false"
  [multiple]="false"
  accept=".pdf,.rar,.zip"
  [maxFileSize]="1000000"
  (uploadHandler)="onUpload($event)"
  styleClass="bg-transparent border-none w-full h-full"
  class="w-full h-full flex"

  chooseStyleClass="hidden"
  uploadStyleClass="hidden"
  cancelStyleClass="hidden"
>
  
  <!-- Custom content (drop zone + icon) -->
  <ng-template  #content let-files let-chooseCallback="chooseCallback" >
    <div
      class="w-full h- border-3 flex flex-col items-center justify-center cursor-pointer"
      (click)="choose($event, chooseCallback)"
    >
      <i class="pi pi-upload text-4xl text-gray-500 mb-2"></i>
      <p class="text-gray-500">Click or drag to upload .pdf, .rar, or .zip</p>
    </div>

    <!-- Show selected file below -->
    <div *ngIf="files?.length > 0" class="mt-4 flex flex-col items-start gap-2 h-full">
      <p class="font-semibold">Selected file:</p>
      <span class="text-sm text-gray-700">{{ files[0].name }} ({{ formatSize(files[0].size) }})</span>
    </div>
  </ng-template>

  <!-- Optional empty template -->
  <ng-template #empty>
    <p class="text-gray-400 text-center">No file selected</p>
  </ng-template>
  </p-fileUpload>


  </div>

  <div class="h-1/2 flex gap-4">
    <div class="w-1/2 border-custom">

    </div>
    <div class="w-1/2 border-custom">
    </div>
  </div>


</div>