<p-tree 
  [filter]="true" 
  filterPlaceholder="Search.." 
  [value]="treeData"
  [style]="{fontSize:'1.25rem' , width: '100%'}"
  selectionMode="single"
  [(selection)]="selectedNode"
  (onNodeSelect)="onNodeSelect($event)"
  >
  
  <ng-template let-node pTemplate="default">
    <div class="node-content" [ngClass]="{'button-node': node === treeData[0]}">
        <span>{{ node.label }}</span>
        <p-button 
            *ngIf="node !== treeData[0]"
            icon="pi pi-ellipsis-v" 
            (click)="openNodeOptions($event, node)" 
            rounded="true" 
            [text]="true" 
            severity="secondary" />
    </div>
  </ng-template>
</p-tree>

<p-menu #options [model]="nodeOptions" [popup]="true" />

