
<div class="flex flex-col h-full ">


  <p-tabs class="w-full ">
    <p-tablist>
        <p-tab value=""  disabled>My Departments</p-tab>
        <p-button 
        class="flex justify-center items-center"
        *appHasRole="['HRLeader']" 
        icon="pi pi-folder-plus" 
        [text]="true"  
        label="Add Department" 
        (click)="openAddDepartmentDialog()" 
        />
        
    </p-tablist>
    
  </p-tabs>
  
  <div class="flex overflow-hidden w-full">
    
      @if(loading){
        <div class="p-3 flex flex-col w-full">
          <div class=" w-full">
            <p-skeleton height="2.5rem" />
          </div>

          <div class="px-3 mt-0.1">
            <ng-container *ngFor="let i of loadingItems; let index = index">
              <div class="flex items-center mt-1">
                <i class="pi pi-chevron-right" style="font-size: 0.9rem; color: grey"></i>
                <div class="w-full px-2">
                  <p-skeleton height="2.8rem"  />
                </div>
              </div>
            </ng-container>
          </div>
        </div>

        
      }
      @else {
        
          <div class="flex-1">
            <p-tree 
            (onNodeExpand)="onNodeExpand($event)"
            (onNodeCollapse)="onNodeCollapse($event)"
            scrollHeight="flex"
            [filter]="true" 
            filterPlaceholder="Search Departments or Positions..." 
            [value]="treeData"
            [style]="{fontSize:'1.25rem'}"
            selectionMode="single"
            [(selection)]="selectedNode"
            [metaKeySelection]="true"
            (onNodeSelect)="onNodeSelect($event)"
            emptyMessage="-"
            styleClass="h-full w-full border-2" 
            >
              
              <ng-template pTemplate="default" let-node >
                <div class=" flex items-center justify-between px-2">
                    <span >{{ node.label }}</span>
                    <p-button 
                      icon="pi pi-ellipsis-v" 
                      (click)="openNodeOptions($event, node)" 
                      rounded="true" 
                      [text]="true" 
                      severity="secondary" />
                      
                </div>
                
              </ng-template>
              
            
          
            </p-tree> 
          </div>
        
       
      }
    
    
  </div>
</div>


<!-- ✅ Menu for Parent Departments -->
<p-menu #parentMenu [model]="parentNodeActions" [popup]="true" />

<!-- ✅ Menu for Leaf Items -->
<p-menu #leafMenu [model]="leafNodeActions" [popup]="true" />


<p-dialog 
header = "Add Department" 
[(visible)]="visibleAddDepartmentDialog" 
[modal]="true" 
styleClass=" shadow-9 w-dialog-m h-dialog-sm border-none"
(onHide)="closeAddDepartmentDialog()">

  <app-add-department 
  #addDepartmentComponent
  (departmentAdded)="onDepartmentAdded()" >
</app-add-department>

</p-dialog>

<p-dialog 
header = "Edit Department" 
[(visible)]="visibleEditDepartmentDialog" 
[modal]="true" 
styleClass=" shadow-9 w-dialog-m h-dialog-sm border-none"
(onHide)="closeEditDepartmentDialog()">

  <app-edit-department 
  #editDepartmentComponent
  *ngIf="selectedNode" 
  [departmentNode]="selectedNode" 
  (departmentEdited)="onDepartmentEdit()" >
</app-edit-department>

</p-dialog>

<p-dialog 
  header="Delete Department" 
  [(visible)]="visibleDeleteDepartmentDialog" 
  [modal]="true" 
  styleClass=" shadow-9 w-dialog-m h-dialog-xs border-none"
  (onHide)="closeDeleteDepartmentDialog()">

  <app-delete-department 
    *ngIf="selectedNode" 
    [departmentNode]="selectedNode"
    (departmentDeleted)="onDepartmentDeleted()">
  </app-delete-department>

</p-dialog>


<p-dialog 
  header="Delete Position" 
  [(visible)]="visibleDeletePositionDialog" 
  [modal]="true" 
  styleClass=" shadow-9 w-dialog-m h-dialog-xs border-none"
  (onHide)="visibleDeletePositionDialog = false">

  <app-delete-position
    *ngIf="selectedNode"
    [positionNode]="selectedNode"
    (positionDeleted)="onPositionDeleted()">
  </app-delete-position>

</p-dialog>