
<p-tabs class="tree-header">
  <p-tablist>
      <p-tab value="" disabled>My Departments</p-tab>
      <p-button 
      *appHasRole="['HRLeader']" 
      icon="pi pi-folder-plus" 
      [text]="true" size="small" 
      label="Add Department" 
      (click)="openAddDepartmentDialog()" />
  </p-tablist>
  
</p-tabs>


@if(loading)
{
  
  <div class="loading-content">
    <div class="loading-searchbar">
      <p-skeleton height="2.4rem" width="18vw" />
    </div>
    <ng-container *ngFor="let i of loadingItems; let index = index">
        <div class="loading-department">
          <i class="pi pi-chevron-right" style="font-size: 0.9rem; color: grey"></i>
          <p-skeleton 
            height="3rem" 
            [width]="'15vw'" 
            styleClass="mt-1" 
          />
          </div>
    </ng-container>
  </div>
}
@else {

  <p-tree 
  
  scrollHeight="95%"
  [filter]="true" 
  filterPlaceholder="Search.." 
  [value]="treeData"
  [style]="{fontSize:'1.25rem'}"
  selectionMode="single"
  [(selection)]="selectedNode"
  [metaKeySelection]="true"
  (onNodeSelect)="onNodeSelect($event)"
  emptyMessage="-"
  >
    <ng-template let-node pTemplate="default">
      <div class="node-content">
          <span>{{ node.label }}</span>
          <p-button 
              icon="pi pi-ellipsis-v" 
              (click)="openNodeOptions($event, node)" 
              rounded="true" 
              [text]="true" 
              severity="secondary" />
      </div>
    </ng-template>
 
</p-tree>

}


<!-- ✅ Menu for Parent Departments -->
<p-menu #parentMenu [model]="parentNodeActions" [popup]="true" />

<!-- ✅ Menu for Leaf Items -->
<p-menu #leafMenu [model]="leafNodeActions" [popup]="true" />


<p-dialog 
header = "Add Department" 
[(visible)]="visibleAddDepartmentDialog" 
[modal]="true" 
[style]="{ width: '30rem', border: 'None' }" 
(onHide)="closeAddDepartmentDialog()">

  <app-add-department 
  (departmentAdded)="onDepartmentAdded()" >
</app-add-department>

</p-dialog>

<p-dialog 
header = "Edit Department" 
[(visible)]="visibleEditDepartmentDialog" 
[modal]="true" 
[style]="{ width: '30rem', border: 'None' }" 
(onHide)="closeEditDepartmentDialog()">

  <app-edit-department 
  *ngIf="selectedNode" 
  [departmentNode]="selectedNode" 
  (departmentEdited)="onDepartmentEdit()" >
</app-edit-department>

</p-dialog>

<p-dialog 
  header="Delete Department" 
  [(visible)]="visibleDeleteDepartmentDialog" 
  [modal]="true" 
  [style]="{ width: '35rem', border: 'None' }" 
  (onHide)="closeDeleteDepartmentDialog()">

  <app-delete-department 
    *ngIf="selectedNode" 
    [departmentNode]="selectedNode"
    (departmentDeleted)="onDepartmentDeleted()">
  </app-delete-department>

</p-dialog>