<div class="content">
    <div class="field">
      <label for="departmentName" class="font-semibold w-24">Department Name</label>
      <input pInputText id="departmentName" [(ngModel)]="department.name" autocomplete="off" />
    </div>
    <div class="field">
      <label for="departmentAcess" class="font-semibold w-24">Grant Access</label>
      <p-multiselect [options]="this.department.departmentAccesses" 
      [(ngModel)]="selectedUsers" 
      optionLabel="userName"
      optionValue="userId" placeholder="Select Users" appendTo="body" />
    </div>
  </div>

  <div class="dialog-actions">
    @if(loading){
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '3vh', height: '3vh' }" />
    }
    <p-button label="Cancel" (click)="departmentEdited.emit()" [severity]="'secondary'"></p-button>
    <p-button label="Update" (click)="editDepartment(this.department)" ></p-button>
    
</div>