:root{
    --navbar-height: 7vh;
    --width-padding-site: 2vw;

    /* PANELS VALUES */
    --menu-height: calc(98vh - var(--navbar-height)); /* panel 1 and panel 2 size */
    
    --card-border-radius: 40px;
    --footer-height: 5%;
    
}

/* Background colors */
.my-app-light{
  --light-background-color: rgb(47, 105, 80);
}

.my-app-dark{
  --dark-background-color: #222222;
}

html {
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}
