
<div class="flex h-1/5 w-full justify-between items-center  ">
    <div class="flex justify-start items-center gap-2">
      <img [src]="outlookLogo" class="w-1/3"/>
      <p class="text-2xl font-medium">Outlook</p>
    </div>
    <div class="flex justify-center">
      <p-menu #menu [model]="settings" [popup]="true" />
      <p-button *ngIf="sessionActive" icon="pi pi-cog" [rounded]="true" [text]="true" severity="secondary" (click)="menu.toggle($event)" size="large"/>
    </div>
</div>

<div class="flex h-4/5 w-full  flex-col justify-center items-center gap-0 px-6">

  <div class="flex w-full h-1/3 justify-center items-center  gap-2">
    <p class="font-medium w-1/6 justify-start flex ">Step 1</p>
    <p-button class=" w-5/6 flex justify-start " [disabled]="sessionActive"  label="Connect" (onClick)="connect()" [raised]="true" size="small"/>
  </div>
  <div class="flex w-full h-1/3 justify-center items-center  gap-2 ">
    <p class="font-medium w-1/6 justify-start flex 2 ">Step 2</p>
    <div class="w-5/6 flex justify-start ">
      <p-multiSelect
      [disabled]="!sessionActive"
      class="ustify-start w-2/3"
      styleClass="w-2/3"
      [(ngModel)]="selectedFolders"
      [options]="folders"
      optionLabel="name"
      optionValue="id"
      placeholder="Select Folders"
      [maxSelectedLabels]="1"
      />
    </div>
    
  </div>
  <div class="flex w-full h-1/3 justify-center items-center  gap-2 ">
    <p class="font-medium w-1/6 justify-start flex ">Step 3</p>
    <p-button class=" w-5/6 flex justify-start " [disabled]="!sessionActive"  icon="pi pi-caret-right" label="Start" (onClick)="watch()" size="small"/>

  </div>

</div>
