:root {

    /* Tailwind CSS tokens */

    //navbar
    --nav-px: 2vw;
    --nav-height: 10vh;
    --nav-items-gap: 1rem;
    --nav-logo-width: 12rem;

    //footer
    --footer-height: 5vh;

    //login
    --login-height: calc(100% - var(--nav-height) - var(--footer-height));
    --login-card-height: 40vh;
    --login-card-width: 20vw;

    //home-container
    --home-container-height: calc(100% - var(--nav-height) - var(--footer-height));
    --home-container-padding-x:5vw;
    --home-container-padding-y:2vh;

    //main-panel
    --main-panel-padding-x: 1rem;
    --main-panel-padding-y: 0.5rem;

    //left-panel
    --left-panel-padding-x: 1rem;
    --left-panel-padding-y: 0rem;

    //right-panel
    --right-panel-padding-x: 1rem;
    --right-panel-padding-y: 0rem;
    

    //light/dark mode
    --light-background-color: #222222;
    --dark-background-color: #222222;

}


