:root {

    /* Tailwind CSS tokens */

    //navbar
    --nav-px: 2%;
    --nav-height: 8vh;
    --nav-items-gap: 1rem;
    --nav-logo-width: 10rem;

    //footer
    --footer-height: 3vh;

    //login
    --login-height: calc(100% - var(--nav-height) - var(--footer-height));
    --login-card-height: 40vh;
    --login-card-width: 20vw;

    //home-container
    --home-container-height: calc(100% - var(--nav-height) - var(--footer-height));
    --home-container-padding-x:5%;
    --home-container-padding-y:2vh;
    --home-panel-padding-x: 2%;
    --home-card-padding-y: 1%;
    --home-card-padding-x: 0%;

    //light/dark mode
    --light-background-color: rgb(47, 105, 80);
    --dark-background-color: #222222;
}


