/* You can add global styles to this file, and also import other style files */

@import "primeflex/primeflex.css"; 
@import "primeicons/primeicons.css";
@import "./assets/variables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  
  /* font-family: Inter var,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol; */
  /* font-family:  sans-serif; */
  overflow: hidden;
}

body{
 margin: 0;
 height: 100vh;
 width: 100vw;
}


.my-app-light{
  background: var(--light-background-color);
}

.my-app-dark{
  background: var(--dark-background-color);
}

