@import './variables.scss';  

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .bg-transparent-2{
    @apply backdrop-blur-sm  bg-[#2c2e2c]/30 shadow-9;
  }
  
  .border-custom{
    @apply   border-2  rounded-3xl border-[var(--p-form-field-border-color)] bg-[var(--p-form-field-border-custom)];
  }

}

@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: url('/assets/fonts/Lexend-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



html {
  font-family:   'Lexend',Helvetica, sans-serif;
  font-weight: 300; 
}

body , app-root,html{
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
}


.my-app-light {
  background-color: var(--light-background-color);
  --pulse-shadow-color: rgba(0, 0, 0, 0.3);
}

.my-app-dark {
  background-color: var(--dark-background-color);
  --pulse-shadow-color: rgba(255, 255, 255, 0.4);
}
html {
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}



