@import './variables';  

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-transparent-2{
    @apply backdrop-blur-sm  bg-[#2c2e2c]/30 shadow-9;
  }

  
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  overflow: hidden;
}

body , app-root,html{
 margin: 0;
 padding: 0;
 height: 100%;
 width: 100%;
}


/* 4. Definirea break-point-urilor custom (opțional) */
:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

/* 5. Exemple de media-queries mobile-first */
@media (min-width: var(--breakpoint-sm)) {
  /* stiluri pentru ecrane ≥ 576px */
}

@media (min-width: var(--breakpoint-md)) {
  /* stiluri pentru ecrane ≥ 768px */
}


.my-app-light {
  background-color: var(--light-background-color);
}

.my-app-dark {
  background-color: var(--dark-background-color);
}
html {
  transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;
}

